@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@fontsource/montserrat/400.css"; /* Regular */
@import "@fontsource/montserrat/600.css"; /* Semi-Bold */
@import "@fontsource/montserrat/700.css"; /* Bold */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}
